@model IEnumerable<A1_200412952.Models.PetFood>

@{
    ViewData["Title"] = "Index";
   
}
<style type="text/css">

    .embed-responsive .card-img-top {
        object-fit: cover;
    }
</style>
<h2>Welcome to my pet food shop!</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <div class="embed-responsive embed-responsive-1by1">
                    <img src="@item.ImageUrl" class="card-img-top embed-responsive-item" />
                </div>
                <div class="card-body">
                    <p class="card-title">@Html.DisplayFor(modelItem => item.Name)</p>
                    <p class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                    <a class="btn btn-primary" asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </div>
            </div>
        </div>
    }
</div>